<div class="signup-box-wrapper login-box-wrapper">
    <div id='toast-container'></div>
    <div class="signup_form">
        <!-- forgot password left section showing logo and forgot password breif description -->
        <div class="signup_left_block">
            <span class="qualdable_logo">
                <img src="./img/qloudable_logo1.png" alt="Qualdable Logo" width="218" height="120" />
                <!-- <b>Qloudable</b> -->
            </span>
            <h1><span>Log</span> in for publisher account</h1>
            <p>Welcome back!!</p>
            <div class="signup_cloud_image">
                <img src="./img/signup_cloud.png" alt="Qualdable Logo" width="524" height="354" />
            </div>
            <div class="already_login">
                Already have an account&nbsp;?&nbsp;<span ui-sref="login"><md-tooltip md-direction="top" aria-label="Login an account">Login an account</md-tooltip>log in</span>
            </div>
        </div>
        <!-- forgot password left section  over here -->

        <!-- forgot password right section include login Form -->

        <div class="signup_right_block">
            <div class="signup_form_main login_form_main">
                <h3 class="text-uppercase">Forgot Password</h3>
                <p class="forgot_pass_des">Enter your email address and we will send you a link to reset your password.</p>
                <form novalidate autocomplete="off" name="forgotPasswordForm" ng-submit="vm.forgotPasswordFn()">
                    <div class="signup_form_area">
                        <div class="signup_main_row forgot_password_row position-relative">
                            <div class="signup_row">
                                <md-input-container class="md-block signup_row">
                                    <label>Email id</label>
                                    <input type="email" name="Email" ng-model="vm.forgotPassword.email" ng-pattern="/^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,4}$/" required placeholder="Enter your email id here..." />
                                    <div id="errorEmail" ng-messages="forgotPasswordForm.Email.$error" role="alert">
                                        <div ng-message="required">This field is required</div>
                                        <div ng-message="pattern">It should be valid email address</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div class="submit_button">
                                <md-button id="btnForgot" type="submit" class="cc-button button-secondary" ng-disabled="forgotPasswordForm.$invalid" aria-label="forgot password">
                                    <md-tooltip md-direction="top">Continue</md-tooltip>
                                    Continue
                                </md-button>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- forgot password right section include login Form over here -->
        <div class="clearfix"></div>
    </div>
</div>

<!-- Showing loader while logged in  -->
<div class="show_loading" ng-if="vm.showLoading">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>
<!-- Showing loader while logged in over here -->