.terminal_main {
    padding: 0;
    .terminal_left {
        background: #fff;
        padding: 20px;
        word-wrap: break-word;
        height: calc(100vh - 60px);
        overflow: auto;
    }
    .terminal_right {
        background: #000;
        padding: 20px;
        height: calc(100vh - 60px);
        .terminal_cntnt{
            height: calc(100% - 26px);
            overflow:auto;
        }
    }
}