<div class="signup-box-wrapper login-box-wrapper">
    <div class="signup_form">
        <!-- forgot password left section showing logo and forgot password breif description -->
        <div class="signup_left_block">
            <span class="qualdable_logo">
                <img src="./img/qloudable_logo.png" alt="Qualdable Logo" width="218" height="120" />
                <!-- <b>Qloudable</b> -->
            </span>
            <h1><span>Log</span> in for publisher account</h1>
            <p>Welcome back!!</p>
            <div class="signup_cloud_image">
                <img src="./img/signup_cloud.png" alt="Qualdable Logo" width="524" height="354" />
            </div>
            <div class="already_login">
                Don't have an account&nbsp;?&nbsp;<span ng-click="vm.moveToSignup()" aria-label="Create an account"><md-tooltip md-direction="top">Create an account</md-tooltip>Sign Up</span>
            </div>
        </div>
        <!-- forgot password left section  over here -->

        <!-- forgot password right section include login Form -->

        <div class="signup_right_block">
            <div class="signup_form_main login_form_main">
                <h3 class="text-uppercase">Reset Password</h3>
                <form novalidate autocomplete="off" name="resetPasswordForm" ng-submit="vm.resetPasswordFn()">
                    <div class="signup_form_area">
                        <div class="signup_main_row forgot_password_row position-relative">
                            <div class="signup_row">
                                <md-input-container class="md-block signup_row">
                                    <label>Password</label>
                                    <div class="input_wrapper_container">
                                        <input type="password" name="password" ng-model="vm.resetPassword.password" required ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,16}$/" autocomplete="off" placeholder="Enter your password here..." />
                                        <div id="errorPassword" ng-messages="resetPasswordForm.password.$error">
                                            <div ng-message="required">This field is required</div>
                                            <div ng-message="pattern">
                                                Password should be between 8 and 16 characters long and should contain one number, one character and one special character
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>

                                </md-input-container>
                                <md-input-container class="md-block signup_row">
                                    <label>Confirm Password</label>
                                    <div class="input_wrapper_container">
                                        <input type="password" name="confirmPassword" ng-model="vm.resetPassword.confirmPassword" required pattern="{{vm.resetPassword.password}}" autoComplete="off" placeholder="Re-enter your password here..." />
                                        <div id="errorPassword" ng-messages="resetPasswordForm.confirmPassword.$error">
                                            <div ng-message="required">This field is required</div>
                                            <div ng-message="pattern">Password did not match</div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>

                                </md-input-container>
                            </div>
                            <div class="submit_button">
                                <md-button id="btnForgot" type="submit" class="cc-button button-secondary" ng-disabled="resetPasswordForm.$invalid" aria-label="forgot password">
                                    <md-tooltip md-direction="top">Reset Password</md-tooltip>
                                    Reset Password
                                </md-button>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- forgot password right section include login Form over here -->
        <div class="clearfix"></div>
    </div>
</div>

<!-- Showing loader while logged in  -->
<div class="show_loading" ng-if="vm.showLoading">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>
<!-- Showing loader while logged in over here -->